body{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	background-color: #d1d2d4;	
}
h3{
	color:red;
	display: inline;
}
.baza1{
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	width:840px;
	height:545px;
	background-image: url('galeria/okno4.jpg');
	position: relative;
	}
.baza2{
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	width:840px;
	height:545px;
	background-image: url('galeria/okno5.jpg');
	position: relative;
	}

.baza h3{
	position: absolute;
	margin-top: 460px;	
	font-size: 12px;
	letter-spacing: 2px;
	color:white;
	font-family: Century Gothic;
}
.baza h2{
	position: absolute;
	margin-top: 0px;
	margin-left: 160px;	
	font-size: 8px;
	color:grey;
	font-family: Century Gothic;
	letter-spacing: 2px;
	font-weight: normal;

}
.baza h3:hover{
	color:red;
}
.okno_slider{
	width: 700px;
	margin-left:70px;
	position: absolute;


	}

