body{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	background-color: none;
}
img {
    float: right;
    margin: 0 0 10px 10px;
}
.baza{
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background-color: none;
	width: 1700px;
	height:3000px;
	background-color: white;
}
h3{
	color:#696969;

}
.baza img{
 margin-left:auto; 
 margin-right: auto;
 margin-top: 30px;
 width: 1700px;
	
}
.uklad h2 b a{
	float: left; 
	margin-top: 1400px; 
	margin-left: 130px;
	color:#696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 5px;
}
.uklad h3 p{
	float: left; 
	margin-top: 1450px; 
	margin-left: 130px;
	color:#696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 5px;
	margin-right: 1060px;
	text-align: justify; 
}
.uklad2 h2 b a{
	float: right; 
	margin-top: 1400px; 
	margin-left: 700px;
	color:#696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 5px;
}
.uklad2 h3 p{
	float: right; 
	margin-top: 1450px; 
	margin-left: 700px;
	color: #696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 5px;
	margin-right: 500px;
	text-align: justify; 
}
.uklad3 h2 b a{
	float: left; 
	margin-top: 2050px; 
	margin-left: 130px;
	color:#696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 5px;
}
.uklad3 h3 p{
	float: left; 
	margin-top: 2100px; 
	margin-left: 130px;
	color:#696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 5px;
	margin-right: 1060px;
	text-align: justify; 
}
.uklad4 h2 b a{
	float: right; 
	margin-top: 2050px; 
	margin-left: 700px;
	color:#696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 5px;
}
.uklad4 h3 p{
	float: right; 
	margin-top: 2100px; 
	margin-left: 700px;
	color: #696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 5px;
	margin-right: 500px;
	text-align: justify; 
}
.partnerzy_GTM img{
	width: 200px;
	height: 200px;
	float: right;
	margin-left: 900px;
	margin-top: 2700px;
	position: absolute;
}
.partnerzy_GUI img{
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 600px;
	margin-top: 2700px;
	position: absolute;
}

.menu_boczne ul li{
	float: right;
	margin-left: 1400px;
	margin-top: 1000px;
   position: absolute;


}
