body{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	background-color: black;
}

.baza{
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background-color: none;
	width: 960px;
	height:500px;

}
.baza1{
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 960px;
	height:630px;
	background-color: none;
}
.baza3 {
	margin-right: auto;
	margin-left: auto;	
	margin-top: 35px;
	width: 800px;
	height:320px;		
	position: absolute;
	z-index: 1; 
	overflow:scroll;
	overflow-x:hidden     

}
.baza4_dla_kierowcow{  
	margin-right: auto;
	margin-left: 5px;	
	margin-top: 35px;
	width: 770px;
	height:320px;
	background:#2F4F4F; 	 
    border-radius:10px;	
	position: absolute;
	z-index: 1; 
	opacity: 0.9;
}
.baza4_dla_pasazerow{  
	margin-right: auto;
	margin-left: 20px;	
	margin-top: 35px;
	width: 750px;
	height:320px;
	 background:#708090; 	 
     border-radius:10px;	
	position: absolute;
	  z-index: 1; 
	  opacity: 0.9;
}
	.baza4_wozki_aktywne{  
	margin-right: auto;
	margin-left: 20px;	
	margin-top: 35px;
	width: 750px;
	height:320px;
	 background:#A52A2A; 	 
     border-radius:10px;	
	position: absolute;
	  z-index: 1; 
	  opacity: 0.9;
}
.baza4_wozki_sportowe{  
	margin-right: auto;
	margin-left: 20px;	
	margin-top: 35px;
	width: 750px;
	height:320px;
	background:	#6B8E23; 	 
    border-radius:10px;	
	position: absolute;
	z-index: 1; 
	opacity: 0.9;
}

.baza1 img{
 margin-left:auto; 
 margin-right: auto;
 margin-top: 10px;
 width: 9000px;
}
.baza img{
 margin-left:auto; 
 margin-right: auto;	
}

h3{
	color:#696969;
}

.baza img{
 margin-left:auto; 
 margin-right: auto;	
}

.uklad_kierownica h2 b{
	float: left; 
	margin-top: 210px; 
	margin-left: 30px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;
	text-decoration:underline;
	font-size: 13px;
}
.uklad_kierownica h3 p {
	float: left; 
	margin-top: 230px; 
	margin-left: 30px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;
	margin-right: 550px;
	text-align: justify; 
	font-size: 13px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
}
.uklad2_kierownica h2 b {
	float: right; 
	margin-top: 210px; 
	margin-left: 300px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;
	text-decoration: underline;
	font-size: 13px;
}
.uklad2_kierownica h3 p{
	float: right; 
	margin-top: 230px; 
	margin-left: 300px;
	margin-right: 280px;
	color: white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;	
	text-align: justify;
	font-size: 13px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal; 
}
.uklad3_kierownica h2 b {
	float: left; 
	margin-top: 210px;
    margin-left: 550px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;
	text-decoration: underline;
	font-size: 13px;
}
.uklad3_kierownica h3 p{
	float: left; 
	margin-top: 230px; 
	margin-left: 550px;
	margin-right: 35px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;	
	text-align: justify; 
	font-size: 13px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
}
.uklad4_kierownica h2 b {
	float: right; 
	margin-top: 560px; 
	margin-left: 300px;
	margin-right: 210px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;
	text-decoration: underline;	
	font-size: 13px;

}
.uklad4_kierownica h3 p{
	float: right; 
	margin-top: 580px; 
	margin-left: 300px;
	margin-right: 280px;
	color: white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;	
	text-align: justify;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal; 
	font-size: 13px;
}
.uklad5_kierownica h2 b {
	float: left; 
	margin-top: 560px; 
	margin-left: 30px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 1px;
	text-decoration: underline;
	font-size: 13px;
}
.uklad5_kierownica h3 p{
	float: left; 
	margin-top: 580px;
	margin-left: 30px;
	margin-right: 550px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;	
	text-align: justify;	
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 13px; 
}
.uklad6_kierownica h2 b {
	float: right; 
	margin-top: 560px; 
	margin-left: 550px;
	margin-right: 0px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;
	text-decoration: underline;
	font-size: 13px;
}
.uklad6_kierownica h3 p{
	float: right; 
	margin-top: 580px; 
	margin-left: 550px;
	margin-right: 35px;	
	color: white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;	
	text-align: justify; 
	font-size: 13px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
}
.uklad7_kierownica h2 b {
	float: right; 
	margin-top: 970px; 
	margin-left: 300px;
	margin-right: 210px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;
	text-decoration: underline;	
	font-size: 13px;

}
.uklad7_kierownica h3 p{
	float: right; 
	margin-top: 990px; 
	margin-left: 300px;
	margin-right: 280px;
	color: white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;	
	text-align: justify;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal; 
	font-size: 13px;
}
.uklad8_kierownica h2 b {
	float: left; 
	margin-top: 970px; 
	margin-left: 30px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 1px;
	text-decoration: underline;
	font-size: 13px;
}
.uklad8_kierownica h3 p{
	float: left; 
	margin-top: 990px;
	margin-left: 30px;
	margin-right: 550px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;	
	text-align: justify;	
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 13px; 
}
.uklad9_kierownica h2 b {
	float: right; 
	margin-top: 970px; 
	margin-left: 550px;
	margin-right: 0px;
	color:white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;
	text-decoration: underline;
	font-size: 13px;
}
.uklad9_kierownica h3 p{
	float: right; 
	margin-top: 990px; 
	margin-left: 550px;
	margin-right: 35px;	
	color: white;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 0px;	
	text-align: justify; 
	font-size: 13px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
}

.kierownica h2 p{
	margin-top: 300px; 
	margin-left:280px;
	color: black;
	word-spacing:  0px;
	letter-spacing: 2px;
	margin-right:0px;
	text-align: justify; 
	text-indent: 5px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 15px;
	
	}
.uklad h2 b {
	float: left; 
	margin-top: 200px; 
	margin-left: 30px;
	color:#696969;
	position: absolute;
	word-spacing:  0px;
	letter-spacing: 4px;
	text-decoration:underline;
	font-size: 15px;
}

.kontakt_tekst h2 p{	 
	margin-top: 200px; 
	width: 500px;
	margin-left: 100px;	
	color: black;
	word-spacing:  10px;
	letter-spacing: 2px;	
	text-align: justify; 
	text-indent: 100px;
	font-size: 15px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	position: absolute;

	}
.kontakt_tekst h1{
	float: none; 
	margin-top: 320px; 
	margin-left: 400px;
	color::#696969;;
	word-spacing:  10px;
	letter-spacing: 2px;
	font-size: 20px;
	position: absolute;
	font-family: "Times New Roman", Times, serif;
}	
.partnerzy_GTM img{
	width: 100px;
	height: 100px;
	float: right;
	margin-left: 130px;
	margin-top: 770px;
	position: absolute;
}
.partnerzy_GUI img{
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 280px;
	margin-top: 770px;
	position: absolute;
}

.typ h2{
	position: absolute;
	margin-top: 200px; 
	margin-left: 300px;
	color: blue;
	word-spacing:  10px;
	letter-spacing: 2px;	
	text-align: justify; 
	text-indent: 100px;
	font-size: 20px;
}
.typ2 h2{
	position: absolute;
	margin-top: 350px; 
	margin-left: 650px;
	color: red;
	word-spacing:  10px;
	letter-spacing: 2px;	
	text-align: justify; 
	text-indent: 100px;
}

.uklad_panel h2 b {
	float: left; 
	margin-top: 810px; 
	margin-left: 400px;
	color: #696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 5px;
	text-decoration:underline;
	font-size: 15px;
}
.uklad_panel h3 p {
	float: left; 
	margin-top: 850px; 
	margin-left:400px;
	margin-right: 260px;
	color:#696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 0px;	
	text-align: justify; 
	font-size: 25px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 13px;
}
.uklad1_panel h2 b {
	float: left; 
	margin-top: 810px; 
	margin-left: 50px;
	color:#696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 5px;
	text-decoration:underline;
	font-size: 15px;

}
.uklad1_panel h3 p {
	float: left; 
	margin-top:850px; 
	margin-left:50px;
	margin-right: 610px;
	color:#696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 0px;
	font-size: 13px;	
	text-align: justify; 	
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
}
.uklad2_panel h2 b {
	float: left; 
	margin-top: 1280px; 
	margin-left: 50px;
	color:#696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 5px;
	text-decoration:underline;
	font-size: 15px;

}
.uklad2_panel h3 p {
	float: left; 
	margin-top: 1320px; 
	margin-left: 50px;
	margin-right: 610px;
	color:#696969;
	position: absolute;
	word-spacing:  10px;
	letter-spacing: 0px;	
	text-align: justify; 
	font-size: 25px;
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 13px;
}


.red { border: 0px solid white;  } 
.blu { border: 1px solid  red; }  

.oren { border: 0px solid red;  } 
.whi { border: 1px solid  white; } 

    
.kontakt{
	margin-left: 150px;
	margin-top: 130px;
	font-size: 25px;
	position: absolute;
}
.firma_text_tlo {
  	 background:#799BCE;	 
     border-radius:10px;
     height:330px;
     width: 750px;  
     margin-top: 30px;
     margin-left: 30px;
     position: absolute;
     z-index: 0; 
      opacity: 0.6;   
}
.firma_text_tlo_pelne {
	 background:#2F4F4F;	 
     border-radius:10px;
     height:330px;
     width: 750px;  
     margin-top: 30px;
     margin-left: 30px;
     position: absolute;
     z-index: 0;  
     opacity: 0.8; 
}
.firma_text_tlo_pelne_test {
	 background:#2F4F4F;	 
     border-radius:10px;
     height:330px;
     width: 770px;  
     margin-top: 30px;
     margin-left: 5px;
     position: absolute;
     z-index: 0; 
     opacity: 0.8;      
}

.firma_text_glow_pelne {
	position: absolute;
	z-index: 0;
	width: 800px;
	height:320px;
	margin-left: 0px;
	margin-top: 40px;
	overflow:scroll;
	overflow-x:hidden 

}

.firma_text_glow_pelne h3{
	text-align: justify; 	
	font-size: 15px;
	color: white;
	position: relative;
	z-index: 0;
	width: 500px;
	margin-left: 270px;
	margin-top: 30px;
		
}

.firma_text_glow h3{
	margin-left: 80px;
	margin-top: 60px;
	width: 600px;
	height: 0px;
	word-spacing:  1px;
	letter-spacing: 2px;	
	text-align: justify; 
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 15px;
	color: white;
	position: absolute;
	font-weight: bold;
	text-indent: 30px;
	z-index: 0;
}
.firma_text_slajd_1{
	margin-left: 50px;
	margin-top: 60px;
	width: 600px;
	height: 0px;
	z-index: 1;	
}

.firma_text_slajd_1 h3{	
	word-spacing:  1px;
	letter-spacing: 2px;	
	text-align: justify; 
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 13px;
	color: white;
	position: absolute;
	font-weight: bold;
	text-indent: 30px;
	z-index: 1;
	float: right;
}
.firma_text_slajd_1 img {
	position: absolute; 
	float: left; 
	width: 200px; 
	height: 150px;
	z-index: 1;
	
}
.firma_text img{
	margin-left: 0px;
	margin-top: 20px;  
	width: 800px;
	height:350px;
	position: absolute;
	z-index: 0;
}
.firma_text_kierownica_4 img{
	margin-left: 0px;
	margin-top: 20px;  
	width: 800px;
	height:350px;
	position: absolute;

}
.text p{
	 background:#799BCE;
 	opacity: 0.5;	 
     border-radius:5px;
     height:200px;
     width: 630px;
     padding-left: 100px;     
     margin-top: 50px;
     z-index: -1;
     position: absolute;

}
.text b{
	 background:white;
 	opacity: 0.5;	 
     border-radius:5px;
     height:200px;
     width: 630px;
     padding-left: 100px;     
     margin-top: 30px;
     z-index: -1;
     position: absolute;

}
.text c {
	 background:#799BCE;
 	opacity: 0.5;	 
     border-radius:5px;
     height:290px;
     width: 630px;
     padding-left: 100px;     
     margin-top: 30px;
     z-index: -1;
     position: absolute;

}

.text h2{  
   margin-left: 50px;
   margin-top: 90px;
     font-size: 15px;
     position: absolute;
     width: 900px;
    
}
.size img {
    -webkit-transition: all 1s ease; 
    -moz-transition: all 1s ease; 
    -o-transition: all 1s ease;
}

.size img:hover {
-o-transition: all 0.9s;
-moz-transition: all 0.9s;
-webkit-transition: all 0.9s;
-moz-transform: scale(1.2);
-o-transform: scale(1.2);
-webkit-transform: scale(1.2);
}




/* Styles the thumbnail */

a.lightbox img {

height: 150px;
border: 0px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
margin: 94px 20px 20px 20px;

}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
z-index: 3;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {

margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
box-sizing: border-box;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:40px;
height:40px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: -80px;
right: 70px;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: black;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
	
max-height: 80%;
max-width: 80%;
}

.lightbox-target:target a.lightbox-close {
top: 0px;
}






