body {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	background-color:	white; 

}
.strona_glowna{
 background-color:black;/*drugie tło głównej strony*/
 position: relative;
 margin-left: auto;
 margin-right: auto;
 margin-top: 0px;
 height:3300px;
 width: 1400px; 
    -webkit-background-size: cover; 
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}
.strona_glowna h1 {
	color:yellow;
	margin-top: 60px;
	margin-left: 600px;
	margin-bottom:60px;
}
.strona_glowna h4 {
	color:white;
	word-spacing: 5px;
	text-align: center;
}

.strona_glowna h4 p {
	margin-bottom: 70px;
}
.okno2_2{
	margin-top: 70px;
}
.strona_glowna h2{
	color: white;
}
.okno2_2 h4 b{
	margin-top: 15px;
	float: left;
	margin-left:480px;
	}
.okno2_3 h4 b{
	margin-top: 55px;
	float: left;
	margin-left:480px;
}

.wstawka1{
	margin-top:200px;
	margin-left: 50px;
}
.wstawka2{
	margin-top:300px;
	margin-left: 50px;
	margin-bottom: 260px;
}
.wozki h1{
	margin-left: 600px;
}
.mo2{
	margin-top: 80px;
	margin-left: 70px;
	float: left;
}

.partnerzy{
	margin-top: 200px;
	margin-left: 550px;
}
 .style{
	text-align: center;
	border-bottom: 1px solid white; 
	width: 750px;
	height: 0px;
	margin-left:320px;
	margin-top: 400px;
}
.prawa_autorskie1 > h4{
	margin-left: 0px;
	margin-top: 0px;
}




